In [30]:
import pandas as pd

In [31]:
df = pd.read_csv("../Dados/CMO-Historical-Data-Monthly.xlsx - Monthly Prices.csv")
df

,Date,"Crude oil, average","Crude oil, Brent","Crude oil, Dubai","Crude oil, WTI","Coal, Australian","Coal, South African **","Natural gas, US","Natural gas, Europe","Liquefied natural gas, Japan",...,Aluminum,"Iron ore, cfr spot",Copper,Lead,Tin,Nickel,Zinc,Gold,Platinum,Silver
0,Currency,($/bbl),($/bbl),($/bbl),($/bbl),($/mt),($/mt),($/mmbtu),($/mmbtu),($/mmbtu),...,($/mt),($/dmtu),($/mt),($/mt),($/mt),($/mt),($/mt),($/troy oz),($/troy oz),($/troy oz)
1,1960M01,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","715,40","206,10","2180,40","1631,00","260,80","35,27","83,50","0,91"
2,1960M02,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","728,19","203,70","2180,40","1631,00","244,90","35,27","83,50","0,91"
3,1960M03,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","684,94","210,30","2173,80","1631,00","248,70","35,27","83,50","0,91"
4,1960M04,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","723,11","213,60","2178,20","1631,00","254,60","35,27","83,50","0,91"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,2023M12,"75,72","77,86","77,22","72,08","141,82","108,83","2,53","11,51","14,44",...,"2182,43","137,05","8399,94","2026,91","24600,26","16460,84","2502,39","2026,18","935,47","23,88"
769,2024M01,"77,67","80,23","78,86","73,93","124,90","106,75","3,18","9,56","14,34",...,"2192,82","135,82","8338,88","2086,12","25099,84","16103,83","2515,42","2034,04","925,86","22,92"
770,2024M02,"80,55","83,76","81,18","76,70","124,22","105,19","1,72","8,15","13,64",...,"2179,46","124,39","8304,95","2079,83","26104,10","16338,46","2360,09","2023,24","894,29","22,66"
771,2024M03,"83,55","85,45","84,70","80,49","131,49","104,84","1,50","8,55","13,19",...,"2226,16","109,79","8689,13","2056,20","27450,46","17438,83","2461,04","2158,01","908,75","24,52"
772,2024M04,"88,01","90,05","89,39","84,59","134,97","104,89","1,60","9,09","13,26",...,"2506,10","112,75","9464,43","2129,46","31774,50","18163,95","2732,74","2331,45","940,18","27,49"

In [32]:
# Obtendo o cabeçalho original e a primeira linha
original_header = df.columns
first_row = df.iloc[0]

# Concatenando o cabeçalho com a primeira linha
new_header = [f'{original_header[i]} {first_row[i]}' for i in range(len(original_header))]

# Atualizando o DataFrame para usar o novo cabeçalho
df.columns = new_header
df = df[1:]  # Removendo a primeira linha que foi usada no novo cabeçalho

# Mostrando o resultado
df

C:\Users\rocha\AppData\Local\Temp\ipykernel_21756\1491420357.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  new_header = [f'{original_header[i]} {first_row[i]}' for i in range(len(original_header))]

,Date Currency,"Crude oil, average ($/bbl)","Crude oil, Brent ($/bbl)","Crude oil, Dubai ($/bbl)","Crude oil, WTI ($/bbl)","Coal, Australian ($/mt)","Coal, South African ** ($/mt)","Natural gas, US ($/mmbtu)","Natural gas, Europe ($/mmbtu)","Liquefied natural gas, Japan ($/mmbtu)",...,Aluminum ($/mt),"Iron ore, cfr spot ($/dmtu)",Copper ($/mt),Lead ($/mt),Tin ($/mt),Nickel ($/mt),Zinc ($/mt),Gold ($/troy oz),Platinum ($/troy oz),Silver ($/troy oz)
1,1960M01,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","715,40","206,10","2180,40","1631,00","260,80","35,27","83,50","0,91"
2,1960M02,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","728,19","203,70","2180,40","1631,00","244,90","35,27","83,50","0,91"
3,1960M03,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","684,94","210,30","2173,80","1631,00","248,70","35,27","83,50","0,91"
4,1960M04,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","723,11","213,60","2178,20","1631,00","254,60","35,27","83,50","0,91"
5,1960M05,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,...,"511,47","11,42","684,75","213,40","2162,70","1631,00","253,80","35,27","83,50","0,91"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,2023M12,"75,72","77,86","77,22","72,08","141,82","108,83","2,53","11,51","14,44",...,"2182,43","137,05","8399,94","2026,91","24600,26","16460,84","2502,39","2026,18","935,47","23,88"
769,2024M01,"77,67","80,23","78,86","73,93","124,90","106,75","3,18","9,56","14,34",...,"2192,82","135,82","8338,88","2086,12","25099,84","16103,83","2515,42","2034,04","925,86","22,92"
770,2024M02,"80,55","83,76","81,18","76,70","124,22","105,19","1,72","8,15","13,64",...,"2179,46","124,39","8304,95","2079,83","26104,10","16338,46","2360,09","2023,24","894,29","22,66"
771,2024M03,"83,55","85,45","84,70","80,49","131,49","104,84","1,50","8,55","13,19",...,"2226,16","109,79","8689,13","2056,20","27450,46","17438,83","2461,04","2158,01","908,75","24,52"
772,2024M04,"88,01","90,05","89,39","84,59","134,97","104,89","1,60","9,09","13,26",...,"2506,10","112,75","9464,43","2129,46","31774,50","18163,95","2732,74","2331,45","940,18","27,49"

In [33]:
df['Date'] = pd.to_datetime(df['Date Currency'], format='%YM%m')
df = df.drop(columns=['Date Currency'])
df

C:\Users\rocha\AppData\Local\Temp\ipykernel_21756\2181229795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Date'] = pd.to_datetime(df['Date Currency'], format='%YM%m')

,"Crude oil, average ($/bbl)","Crude oil, Brent ($/bbl)","Crude oil, Dubai ($/bbl)","Crude oil, WTI ($/bbl)","Coal, Australian ($/mt)","Coal, South African ** ($/mt)","Natural gas, US ($/mmbtu)","Natural gas, Europe ($/mmbtu)","Liquefied natural gas, Japan ($/mmbtu)",Natural gas index (2010=100),...,"Iron ore, cfr spot ($/dmtu)",Copper ($/mt),Lead ($/mt),Tin ($/mt),Nickel ($/mt),Zinc ($/mt),Gold ($/troy oz),Platinum ($/troy oz),Silver ($/troy oz),Date
1,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,…,...,"11,42","715,40","206,10","2180,40","1631,00","260,80","35,27","83,50","0,91",1960-01-01
2,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,…,...,"11,42","728,19","203,70","2180,40","1631,00","244,90","35,27","83,50","0,91",1960-02-01
3,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,…,...,"11,42","684,94","210,30","2173,80","1631,00","248,70","35,27","83,50","0,91",1960-03-01
4,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,…,...,"11,42","723,11","213,60","2178,20","1631,00","254,60","35,27","83,50","0,91",1960-04-01
5,"1,63","1,63","1,63",…,…,…,"0,14","0,40",…,…,...,"11,42","684,75","213,40","2162,70","1631,00","253,80","35,27","83,50","0,91",1960-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,"75,72","77,86","77,22","72,08","141,82","108,83","2,53","11,51","14,44","95,17",...,"137,05","8399,94","2026,91","24600,26","16460,84","2502,39","2026,18","935,47","23,88",2023-12-01
769,"77,67","80,23","78,86","73,93","124,90","106,75","3,18","9,56","14,34","93,79",...,"135,82","8338,88","2086,12","25099,84","16103,83","2515,42","2034,04","925,86","22,92",2024-01-01
770,"80,55","83,76","81,18","76,70","124,22","105,19","1,72","8,15","13,64","68,88",...,"124,39","8304,95","2079,83","26104,10","16338,46","2360,09","2023,24","894,29","22,66",2024-02-01
771,"83,55","85,45","84,70","80,49","131,49","104,84","1,50","8,55","13,19","67,81",...,"109,79","8689,13","2056,20","27450,46","17438,83","2461,04","2158,01","908,75","24,52",2024-03-01
772,"88,01","90,05","89,39","84,59","134,97","104,89","1,60","9,09","13,26","71,56",...,"112,75","9464,43","2129,46","31774,50","18163,95","2732,74","2331,45","940,18","27,49",2024-04-01

In [34]:
dfData = df['Date']
df = df.drop(columns=['Date'])

# Converter as colunas para float
df = df.apply(lambda x: x.str.replace(',', '.'))

In [35]:
df['Date'] = dfData
df

,"Crude oil, average ($/bbl)","Crude oil, Brent ($/bbl)","Crude oil, Dubai ($/bbl)","Crude oil, WTI ($/bbl)","Coal, Australian ($/mt)","Coal, South African ** ($/mt)","Natural gas, US ($/mmbtu)","Natural gas, Europe ($/mmbtu)","Liquefied natural gas, Japan ($/mmbtu)",Natural gas index (2010=100),...,"Iron ore, cfr spot ($/dmtu)",Copper ($/mt),Lead ($/mt),Tin ($/mt),Nickel ($/mt),Zinc ($/mt),Gold ($/troy oz),Platinum ($/troy oz),Silver ($/troy oz),Date
1,1.63,1.63,1.63,…,…,…,0.14,0.40,…,…,...,11.42,715.40,206.10,2180.40,1631.00,260.80,35.27,83.50,0.91,1960-01-01
2,1.63,1.63,1.63,…,…,…,0.14,0.40,…,…,...,11.42,728.19,203.70,2180.40,1631.00,244.90,35.27,83.50,0.91,1960-02-01
3,1.63,1.63,1.63,…,…,…,0.14,0.40,…,…,...,11.42,684.94,210.30,2173.80,1631.00,248.70,35.27,83.50,0.91,1960-03-01
4,1.63,1.63,1.63,…,…,…,0.14,0.40,…,…,...,11.42,723.11,213.60,2178.20,1631.00,254.60,35.27,83.50,0.91,1960-04-01
5,1.63,1.63,1.63,…,…,…,0.14,0.40,…,…,...,11.42,684.75,213.40,2162.70,1631.00,253.80,35.27,83.50,0.91,1960-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
768,75.72,77.86,77.22,72.08,141.82,108.83,2.53,11.51,14.44,95.17,...,137.05,8399.94,2026.91,24600.26,16460.84,2502.39,2026.18,935.47,23.88,2023-12-01
769,77.67,80.23,78.86,73.93,124.90,106.75,3.18,9.56,14.34,93.79,...,135.82,8338.88,2086.12,25099.84,16103.83,2515.42,2034.04,925.86,22.92,2024-01-01
770,80.55,83.76,81.18,76.70,124.22,105.19,1.72,8.15,13.64,68.88,...,124.39,8304.95,2079.83,26104.10,16338.46,2360.09,2023.24,894.29,22.66,2024-02-01
771,83.55,85.45,84.70,80.49,131.49,104.84,1.50,8.55,13.19,67.81,...,109.79,8689.13,2056.20,27450.46,17438.83,2461.04,2158.01,908.75,24.52,2024-03-01
772,88.01,90.05,89.39,84.59,134.97,104.89,1.60,9.09,13.26,71.56,...,112.75,9464.43,2129.46,31774.50,18163.95,2732.74,2331.45,940.18,27.49,2024-04-01

In [36]:
df.to_csv('../Dados Tratados/CMO-Historical-TRATADO.csv', index=False)